$white: #ffffff;
$black: #000000;
$transparentBlack: rgba(0, 0, 0, 0.5);
$transparentBlack2: rgba(0, 0, 0, 0.8);
$transparentBlack3: rgba(0, 0, 0, 0.6);
$gray: #ccc;
$lightGray: #aaacaa;
$darkGray: #5e5e5e;
$dodgerblue: dodgerblue;
$blue: #0d6efd;
$red: red;
$primaryBorderColor: #e4e4e4;
$secondaryBorderColor: #737373;
$linkColor: #147bd1;
$green: #34613d;
$transparentWhite: rgba(255, 255, 255, 0);
$foreground: #efefef;
$glowOne: #16abff33;
$glowTwo: #0885ff33;
$glowThree: #54d6ff33;
$glowFour: #0071ff33;
$radialOne: rgba(255, 255, 255, 1);
$radialTwo: rgba(255, 255, 255, 0);
$conicOne: #00000080;
$conicTwo: #00000040;
$conicThree: #00000030;
$conicFour: #00000020;
$conicFive: #00000010;
$conicSix: #00000010;
$conicSeven: #00000080;
$linear: #fafafa;
$gradientOne: #ffffff80;
$gradientTwo: #ffffff40;
$gradientThree: #ffffff30;
$gradientFour: #ffffff20;
$gradientFive: #ffffff10;
$gradientSix: #ffffff10;
$gradientSeven: #ffffff80;
