@import "../../styles/colors";

.inputField {
  height: 3rem;
  background-color: $white;
  border: 0.0625rem solid $secondaryBorderColor;
  color: $black;
  &:focus {
    border: 0.0625rem solid $black;
    outline: none;
    background-color: $white;
    color: $black;
  }
}
